body {
  font-family: Arial;
}

h2 {
  margin-bottom: 20px;
}

.search-box {
  margin-bottom: 20px;
  padding: 10px;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#incidentBtn {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  width: 120px;
}

.dropdown-menu div {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #eee;
}

.map-placeholder {
  width: 70%;
  height: 500px;
  border: 1px solid #ccc;
}
