.subbody {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
    box-sizing: border-box; 
}

/* 왼쪽 사이드바 */
.subheader {
    grid-row: 1 / 3;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

    .subheader p {
        font-size: 18px;
    }
    .subheader a {
        text-decoration: none;
        color: #333;
    }
    .subheader a:hover {
        color: #0056ff;
    }
    /* 본문 영역 */
    .content {
        width: 80vw;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    h4 {
        margin-top: 30px;
        font-size: 1rem;
        color: #0056ff;
    }

    p {
        font-size: 1rem;
    }

    .why, .gach {
        position: relative;
        background: #f7faff;
        border: 1px solid #e2e8ff;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .why .info {
        color: red;
    }

    .sug {
        margin-top: 50px;
    }
    .who {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .who div {
        text-align: center;
    }
    .who img {
        width: 80px;
        height: 80px;
        background: #eee;
        border-radius: 50%;
    }

    .tech .a1 {
        display: flex;
        gap: 100px;
    }

    .tech .a2 {
        display: inline-block;
    }
@media (max-width: 768px){
    .subheader{display: none;}
    .content{margin-left: 10vw;}
    .tech .a1{display: block;}
}