header .loginbox {
  font-size: 10px;
  margin-left: 10px;
  padding-top: 10px;
}

header .loginbox a{
    text-decoration: none;
    color: #000;
}


header .menu {
    font-size: 1vw;
    display: flex;
    justify-content: center;
}

.menu > ul {
    display: flex;
    list-style: none;
    gap: 70px;

}

.menu > ul > li {
    position: relative;
    width: 120px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.submenu {
    top: 100%;
    visibility: hidden;
    list-style: none;
    white-space: nowrap;
}

.menu ul li:hover > .submenu {
    visibility: visible;
}

main img {
    width: 100%;
}

main .mobile {
    visibility: hidden;
    width: 0;
}

.stat img {
    width: 80%;
    height: 200px;
    border-radius: 12px;
    margin-left: 8%;
}

.news {
    position: relative;
    display: flex;
    background-color: rgb(255, 239, 218);
}

.news img {
    width: 30%;
}

.news1, .news2, .news3 {
    width: 33%;
}

.news_title {
    text-decoration: none;
}

footer{
    background: #eceff1;
    color: #333;
    border-top: 1px solid #ddd;
    text-align: center;
}

.hamburger {
    display: none;
    font-size: 26px; 
    background: none; 
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger { 
        display: block;
    }

    .menu ul {
        display: none;
        width: 100%;
        background-color: #b4b0b0;
        padding: 5px 0;
        margin: 0;
        text-align: center;
    }

    .menu.open ul {
        display: block;
    }

    .menu ul li {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 2vw;
    }

    .menu > ul > li {
        border-bottom: 1px solid #eee;
        padding: 12px 0;
    }

    .submenu li a {
        visibility: hidden;
        border-bottom: 1px solid #eee;
        position: absolute;
    }

    .menu > ul > li:hover .submenu li a {
        visibility: visible;
        position: relative;
        transform: translateY(0);
    }

    main .pc {
        visibility: hidden;
        width: 0;
    }

    main .mobile {
        visibility: visible;
        width: 100%;
        margin-bottom: 20px;
    }

    .news {
        flex-direction: column;
        width: 90%;
        margin-left: 20px;
    }

    .news > div {
        border-bottom:3px solid white;
        width: 100%;
        margin-top: 10px;
    }

    .news img {
        width: 80%;
        margin-left: 35px;
    }

    .news .text {
        display: inline-block;
        width: 250px;
        margin-left: 35px;
    }
}