.loginbox {
  margin-left: 92%;
}

.loginbox a {
  text-decoration: none;
  color: orangered;
}

.menu > ul {
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.menu > ul > li {
  position: relative;
  left: 15%;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu div {
    text-decoration: none;
    padding: 10px 80px;
    display: block;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  list-style: none;
  background: white;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.menu ul li:hover .submenu,
.menu ul li .submenu:hover { 
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.submenu li a:hover {
  background-color: #f0f0f0;
  color: #333;
}

.hero-box {
  position: relative;
}

.hero-box .blue-block {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  background-color: #0052a5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.hero-box .text p {
  position: absolute;
  left: 32%;
  top: 25%;
  font-family: "Pretendard", sans-serif;
  font-weight: 800;
  font-size: 250%;
}

.hero-box .text span {
  position: absolute;
  left: 32%;
  top: 70%;
}

.hero-box .text span {
  position: absolute;
  font-size: 80%;
}

.hero-box .blue-block img {
  position: absolute;
  left: 50%;
  width: 20%;
  height: 65%;
  border-radius: 12px;
}

.news ul {
  position: relative;
}

.news ul .title,
.news ul .reporter {
  position: absolute;
}

.footer {
  background: #eceff1;
  color: #333;
  padding: 40px 0;
  margin-top: 150px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.footer-inner {
  text-align: center;
}

copyright {
  font-size: 13px;
  color: #777;
}