{% extends "base.html" %}
{% load static %}
{% block title %}로그인{% endblock %}

{% block script1 %}
    <link rel="stylesheet" href="{% static 'CSS/member/member_register.css' %}">
{% endblock %}
{% block contents %}
    <div class="card col-md-6 mx-auto mt-5">
        <div class="card-header text-center">
            <h2>로그인</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="m_username" class="form-label">아이디 :</label>
                    <input type="text" class="form-control" placeholder="회원아이디를 입력해 주세요" id="m_username" name="m_username">
                </div>
                <div class="mb-3">
                    <label for="m_password1" class="form-label">비밀번호 :</label>
                    <input type="password" class="form-control" placeholder="회원비밀번호를 입력해 주세요" id="m_password1" name="m_password1">
                </div>
                <button type="submit" class="btn btn-primary subbtn">로그인</button>
            </form>
            <hr>
            SNS LOGIN
            <br>
                <a href="{% url 'Member:kakao_login' %}" class="btn btn-warning">카카오 로그인</a>
                <a href="{% url 'Member:naver_login' %}" class="btn btn-warning">네이버 로그인</a>
                <a href="{% url 'Member:google_login' %}" class="btn btn-warning">구글 로그인</a>
            <br>
                계정이 없으세요? <a href="{% url 'Member:registerf' %}">회원가입</a> 하러가기
        </div>
    </div>
{% endblock %}