{% extends "base.html" %}
{% load static %}
{% block title %}산재 관리{% endblock %}

{% block script1 %}
{% endblock %}
{% block contents %}
    <div class="card col-md-6 mx-auto mt-5">
        <div class="card-header text-center">
            <h2>산재 정보 추가</h2>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'Member:mypage_individual_add' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="i_title" class="form-label">*제목 :</label>
                    <input type="text" class="form-control" id="i_title" name="i_title" required>
                </div>
                <div class="mb-3">
                    <label for="i_accident_date" class="form-label">업종 :</label>
                    <input type="date" class="form-control" id="i_accident_date" name="i_accident_date" required>
                </div>
                <div class="mb-3">
                    <label for="i_accident_date" class="form-label">재해일자 :</label>
                    <input type="date" class="form-control" id="i_accident_date" name="i_accident_date" required>
                </div>
                <div class="mb-3">
                    <label for="i_injury" class="form-label">발생형태 :</label>
                    <input type="text" class="form-control" id="i_injury" name="i_injury" required>
                </div>
                <div class="mb-3">
                    <label for="i_disease_type" class="form-label">질병 :</label>
                    <input type="text" class="form-control" id="i_disease_type" name="i_disease_type" required>
                </div>
                <div class="mb-3">
                    <label for="i_address" class="form-label">주소 :</label>
                    <input type="text" class="form-control" id="i_address" name="i_address" required>
                </div>
                <button type="submit" class="btn btn-primary">추가하기</button>
            </form>
        </div>
    </div>
{% endblock %}