{% extends "member/mypage_base.html" %}
{% load static %}
{% block title %}회원 정보 수정{% endblock %}

{% block script1 %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'CSS/member/mypage_profile_modify.css' %}">
<script src="{% static 'js/member/member_register2.js' %}"></script>
<script>
    window.firstErrorField = '{{ first_error_field|default_if_none:"" }}';
</script>
{% endblock %}
{% block mypage_contents %}

<div class="card col-md-6 mx-auto mt-5">
    <div class="card-header text-center">
        <h2>회원 정보 수정</h2>
    </div>
    <div class="card-body">
    {% if messages %}
        <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
        </script>
    {% endif %}
        <h4 class="card-title mb-3">회원 정보</h4>
        <p>아이디 : {{ member.m_username }}</p>
        <form action="" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="m_name" class="form-label">*이름 :</label>
                <input type="text" class="form-control" placeholder="이름을 입력해주세요." id="m_name" name="m_name" value="{{ form.m_name.value|default_if_none:'' }}">
                <div class="invalid-feedback" id="m_name-error" {% if form.m_name.errors %}style="display: block;"{% endif %}>
                    {% if form.m_name.errors %}{{ form.m_name.errors.as_text }}{% endif %}
                </div>
            </div>

            <div class="mb-3">
                <label for="m_birth_date" class="form-label">*생년월일 :</label>
                <input 
                    value="{{ form.m_birth_date.value|default_if_none:'' }}"
                    type="text" 
                    id="m_birth_date" 
                    name="m_birth_date"
                    class="form-control"
                    placeholder="YYYY-MM-DD"
                    >
                <div class="invalid-feedback" id="m_birth_date-error" {% if form.m_birth_date.errors %}style="display: block;"{% endif %}>
                    {% if form.m_birth_date.errors %}{{ form.m_birth_date.errors.as_text }}{% endif %}
                </div>
            </div>

            <div class="mb-3">
                <label for="m_address" class="form-label">*집 주소 :</label>
                <input 
                    value="{{ form.m_address.value|default_if_none:'' }}"
                    type="text" 
                    class="form-control" 
                    id="m_address" 
                    name="m_address" 
                    placeholder="집 주소를 입력해주세요."
                    readonly
                    onclick="searchAddress('m_address')"
                    maxlength="150"
                    >
                <div class="invalid-feedback" id="m_address-error" {% if form.m_address.errors %}style="display: block;"{% endif %}>
                    {% if form.m_address.errors %}{{ form.m_address.errors.as_text }}{% endif %}
                </div>
            </div>
            <div class="mb-3">
                <label for="m_jaddress" class="form-label">*직장 주소 :</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="m_jaddress" 
                    name="m_jaddress" 
                    placeholder="직장 주소를 입력해주세요."
                    readonly
                    onclick="searchAddress('m_jaddress')"
                    value="{{ form.m_jaddress.value|default_if_none:'' }}"
                    maxlength="150">
                    <div class="invalid-feedback" id="m_jaddress-error" {% if form.m_jaddress.errors %}style="display: block;"{% endif %}>
                        {% if form.m_jaddress.errors %}{{ form.m_jaddress.errors.as_text }}{% endif %}
                    </div>
            </div>
            <div class="mb-3">
                <label for="m_phone" class="form-label">전화번호 :</label>
            
                <div class="d-flex gap-2">
                    <input type="text" class="form-control {% if form.m_phone.errors %}is-invalid{% endif %}" name="cel1" id="cel1" maxlength="3" placeholder="010" value="{{ form.initial.cel1 }}">
                    <span class="fs-4">-</span>

                    <input type="text" class="form-control {% if form.m_phone.errors %}is-invalid{% endif %}" name="cel2_1" id="cel2_1" maxlength="4" placeholder="1234" value="{{ form.initial.cel2_1 }}">
                    <span class="fs-4">-</span>

                    <input type="text" class="form-control {% if form.m_phone.errors %}is-invalid{% endif %}" name="cel2_2" id="cel2_2" maxlength="4" placeholder="5678" value="{{ form.initial.cel2_2 }}">
                </div>
                <div class="invalid-feedback" id="m_phone-error" {% if form.m_phone.errors %}style="display: block;"{% endif %}>
                    {% if form.m_phone.errors %}{{ form.m_phone.errors.as_text }}{% endif %}
                </div>
            </div>
            <div class="mb-3">
                <label for="m_email" class="form-label">이메일 :</label>

                <div class="d-flex gap-2 align-items-center">
                    <!-- 이메일 아이디 -->
                    <input type="text" class="form-control" id="email_id" name="email" placeholder="example" style="max-width: 150px;" maxlength="50" value="{{ form.initial.email }}">

                    <span class="fs-4">@</span>

                    <!-- 이메일 도메인 직접입력 -->
                    <input type="text" class="form-control" id="email_dns" name="email_dns" placeholder="domain.com" style="max-width: 180px;" maxlength="50" value="{{ form.initial.email_dns }}">

                    <!-- 도메인 선택 -->
                    <select class="form-select" id="emailaddr" name="emailaddr" style="max-width: 150px;">
                        <option value="">직접입력</option>
                        <option value="daum.net">daum.net</option>
                        <option value="empal.com">empal.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hanmail.net">hanmail.net</option>
                        <option value="msn.com">msn.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="nate.com">nate.com</option>
                    </select>
                    <div class="invalid-feedback" id="m_email-error" {% if form.email.errors %}style="display: block;"{% endif %}>
                        {% if form.email.errors %}{{ form.email.errors.as_text }}{% endif %}
                    </div>
                    <!-- 에러 메시지 -->
                    <div id="EmailError" style="display:none;color:red;">
                        이메일 양식이 틀렸습니다.
                    </div>
                </div>
            <div class="mb-3">
                <label class="form-label">*성별 :</label>

                <div>
                    <input type="radio" id="sex_male" name="m_sex" value="남성" {% if form.m_sex.value == "남성" %}checked{% endif %}>
                    <label for="sex_male">남성</label>

                    <input type="radio" id="sex_female" name="m_sex" value="여성" {% if form.m_sex.value == "여성" %}checked{% endif %}>
                    <label for="sex_female">여성</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary subbtn">변경</button>
            <a class="btn btn-primary" href="{% url 'Main:main' %}">취소</a>
        </form>
    </div>
</div>
{% endblock mypage_contents %}
