{% extends "base.html" %}
{% load static %}
{% block title %}산재 관리{% endblock %}

{% block script1 %}
{% endblock %}
{% block contents %}
    <div class="card col-md-6 mx-auto mt-5">
        <div class="card-header text-center">
            <h2>산재 정보</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th scope="col"></th>
                        <th scope="col">일련번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">재해일자</th>
                        <th scope="col">업종</th>
                        <th scope="col">발생형태</th>
                        <th scope="col">질병</th>
                        <th scope="col">주소</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individual in individuals %}
                    <tr>
                        <!-- individual.id에 일치하는 산재 정보 삭제하는 체크박스 -->
                        <td>
                            <input type="checkbox" name="delete_individuals" value="{{ individual.id }}">
                        </td>
                        <!-- 1~ 리스트 개수만큼 일련번호 -->
                        <td>{{ forloop.counter }}</td>
                        <td>{{ individual.i_title }}</td>
                        <td>{{ individual.i_accident_date }}</td>
                        <td>{% if individual.member.industries %}{{ individual.member.industries.i_industry_type2 }}{% endif %}</td>
                        <td>{{ individual.i_injury }}</td>
                        <td>{{ individual.i_disease_type }}</td>
                        <td>{{ individual.i_address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- 산재 정보 추가하기 버튼 -->
            <a href="{% url 'Member:mypage_individual_add' %}" class="btn btn-primary">산재 정보 추가하기</a>
            <!-- 체크된 산재정보 삭제하기 버튼 -->
            <button id="delete-selected" class="btn btn-danger">선택된 산재 정보 삭제하기</button>
        </div>
    </div>
{% endblock %}