.safe-filter-box {
        background: #f8f9fa;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        padding: 25px 25px;
}

.filter-row {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.filter-label {
    width: 90px;
    font-weight: 700;
    color: #555;
    text-align: right;
    margin-right: 15px;
    font-size: 15px;
}

.filter-content {
    flex: 1;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-checkbox label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    cursor: pointer;
}

.search-input {
    flex: 1;
}

.btn-search {
    white-space: nowrap;
}

/* 검색결과 자료목록 */
.search-row {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background: white;
  min-height: 130px;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.item-tags {
  font-size: 14px;
  color: #777;
}

.item-desc {
  font-size: 13px;
  line-height: 1.4;
  color: #555;
  max-width: 90%;
}

.item-img-box {
  width: 120px;
}

.item-img {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.no-img {
  width: 120px;
  height: 120px;
  background: #eef4f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: 14px;
}


/* 페이지네이션 */
.pagination-box {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.page-btn {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.page-btn:hover {
  background: #e7e7e7;
}

.page-btn.active {
  background: #4c6ef5;
  color: white;
  border-color: #4c6ef5;
}