/* 제목 */
.safe-header .subtitle {
    font-size: 14px;
    color: #6c757d;
}

/* -------------------------
   필터 전체 박스
-------------------------- */
.filter-wrapper {
    background: #e1e3e6;
    border: 1px solid #c8cdd3;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 25px;
}

.filter-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filter-label {
    width: 90px;
    font-weight: 600;
    color: #23333d;
}

.filter-controls {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.cb-label {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* 검색 */
.search-box {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 400px;
}

/* -------------------------
   카드 레이아웃
-------------------------- */
.safe-card-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.safe-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border: 1px solid #dfe3e8;
    border-radius: 10px;

    padding: 20px;
    text-decoration: none;
    color: inherit;

    transition: 0.2s ease;
}

.safe-card:hover {
    background: #f3f6f9;
    border-color: #cfd6dd;
}

/* 카드 왼쪽 */
.card-left {
    width: 75%;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-tags span {
    display: inline-block;
    background: #edf1f5;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 6px;
    margin-bottom: 3px;
    color: #58616c;
}

.card-desc {
    margin-top: 10px;
    font-size: 15px;
    color: #5c636a;
}

/* 카드 오른쪽 이미지 */
.card-right {
    width: 130px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-noimg {
    width: 100%;
    height: 100%;
    background: #d8dde3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565d64;
    font-size: 12px;
}

/* 페이지네이션 */
.pagination {
    margin-top: 20px;
}

/* 기본 페이지 버튼 */
.pagination .page-link {
    color: #4a4a4a;
    border-radius: 6px;
    font-size: 14px;
    padding: 6px 12px;
}

.pagination .page-link:hover {
    background-color: #e6ecff;
    color: #1a1a1a;
}

/* active (현재 페이지) */
.pagination .page-item.active .page-link {
    background-color: #5a76ff;
    border-color: #5a76ff;
    color: white !important;
}


/* 아이콘 크기 조정 */
.pagination i {
    font-size: 14px;
    vertical-align: middle;
}

