
.news-card a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.news-card a:hover {
    text-decoration: underline;
}

.news-card {
    background: #dbe6ff;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 18px;
    align-items: flex-start;
}

.news-img {
    width: 130px;
    height: 110px;
    background: #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 18px;
    flex-shrink: 0;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.news-info {
    flex-grow: 1;
}

.news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.news-meta {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
}

.news-content {
    font-size: 14px;
    color: #333;
}
