{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>주변 산재 / 병원 검색</title>
  <link rel="stylesheet" href="{% static 'CSS/search.css' %}">
</head>
<body>


<div class="search-box">
    <div class="search-row">
        <label>위치선택:</label>
        <input id="addr_input" type="button" value="집">
        <input id="addr_input" type="button" value="근무지">
        <input id="addr_input" type="button" value="사고지역">
    </div>
    <div class="search-row">
        <label>총 발생 건수</label>
<div class="section-box">
  <div class="section-title">
    근무지/산업재해 상황<br> 					          
    주변 산업재해 발생 현황을 확인하세요</div>
  <div id="incidents_list"></div>
</div>

<script src="{% static 'js/search.js' %}"></script>
</body>
</html>
