.loginbox {
    background-color: rgb(216, 213, 213);
    height: 300px;
    border-radius: 15px;
}

.loginbox button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}