html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
    box-sizing: border-box;         
}

.sidebar {
    grid-row: 1 / 3;
    background: #343a40;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a {
    color: #ddd;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    background: #495057;
    color: #fff;
}

.sidebar .logout {
    color: #ffdd57;
    font-weight: 600;
}

.info{
    text-align: center; 
    display: flex;
    gap: 10px;
    justify-content: center;
}

.info div {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.chart{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 300px;
}