{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산재 뉴스</title>

    <!-- Bootstrap & Font-Awesome -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- News CSS -->
    <link rel="stylesheet" href="{% static 'CSS/news/news_list.css' %}">
</head>

<body>

    <div class="container py-4">

        <h2 class="mb-4">산재 뉴스</h2>

        {% for n in list %}
        <div class="news-card">

            <div class="news-img">
                {% if n.n_image_url %}
                <a href="{{ n.n_link }}" target="_blank">
                    <img src="{{ n.n_image_url }}" alt="썸네일">
                </a>
                {% else %}
                <div class="d-flex align-items-center justify-content-center"
                     style="height:100%;color:#444;font-size:13px;">
                    이미지 없음
                </div>
                {% endif %}
            </div>

            <div class="news-info">
                <div class="news-title">
                    <a href="{{ n.n_link }}" target="_blank">{{ n.n_title }}</a>
                </div>

                <div class="news-content">
                    <a href="{{ n.n_link }}" target="_blank">{{ n.n_contents }}</a>
                </div>

                <div class="news-meta">
                    <span>작성자: {{ n.n_writer }}</span> |
                    <span>작성일: {{ n.n_created_at|slice:":11" }}</span>
                </div>
            </div>

        </div>
        {% endfor %}

        <!--페이지네이션-->
          <div class="container mt-4">
            <ul class="pagination justify-content-center">
                {# << 표시 여부 #} 
                {% if list.number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=" title="처음">
                        처음 <<
                    </a>
                </li>
                {% endif %}

                {# < 표시 여부 #}
                {% if start_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ start_page|add:-1 }}" title="이전">
                        이전 < 
                    </a>
                </li>
                {% endif %}


                {# 페이징 안의 '숫자' 표시 #}
                {% for i in page_range %}
                    {% if list.number == i %} 
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {# > 표시 #}
                {% if list.paginator.num_pages > end_page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ end_page|add:1 }}" title="다음">
                        다음 >
                    </a>
                </li>
                {% endif %}


                {# >> 표시 #}
                {% if list.number < list.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.paginator.num_pages }}" title="맨끝">
                        맨끝 >>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>

    </div>

</body>
</html>
