{% extends "base.html" %}
{% load static %}

{% block title %}산재콕 | 핵심기능{% endblock %}
{% block contents %}
<link rel="stylesheet" href="{% static 'CSS/main/intro_tech.css' %}">
    <!-- 왼쪽 고정 네비게이션 -->
<div class="subbody">
    <div class="subheader">
        <p><a href="{% url 'Main:service' %}">서비스 소개</a></p>
        <p class="active"><a href="{% url 'Main:tech' %}" class="active">핵심기능</a></p>
    </div>
    
    <div class="tech">
        <h1>지도 검색</h1>
        <h4>주변 병원 검색</h4>
        <ul class="a1">
            <li>KakaoMap API<br>
                <img src="https://blog.kakaocdn.net/dna/bLTEQQ/btsIbrfOewQ/AAAAAAAAAAAAAAAAAAAAAEuzxTwbr6ZDidChw6b5_f0qb5UfK6A80my5DQmrFxZ0/img.png?credential=yqXZFxpELC7KVnFOS48ylbz2pIh7yKj8&expires=1767193199&allow_ip=&allow_referer=&signature=WPp4I%2BBuKJQrQ1lUH1PFinDFnek%3D" alt="">
                <br>
                <a href="https://apis.map.kakao.com/">https://apis.map.kakao.com/</a>
            </li>

            <li>산재지정 병원 찾기<br>
                <img src="https://play-lh.googleusercontent.com/eOAInCORxKSremJ81-1UL3DvYLfSIOoXpZMnh5qu8KLFd8dvTh12agE7xEwFmFOhIA=w240-h480-rw" style="width: 200px;">
                <br>
                <a href="https://safemap.go.kr/">https://safemap.go.kr/</a>
            </li>
            
            <li>산재지정 의료기관 찾기<br>
                <img src="https://static.teamblind.com/img/channel/logo/kr/547ca54f865303.png" alt="">
                <br>
                <a href="https://www.comwel.or.kr/">
                    https://www.comwel.or.kr/
                </a>
            </li>
        </ul>

    <h1 style="margin-top: 80px;">산재콕 뉴스</h1>

        <ul class="a2">
            <li>산재콕 뉴스<br>
                <img src="https://lh5.googleusercontent.com/proxy/J-FpDZ19ubqzHNdsIoQQSGfrrZUyPHltdi1VCzb1XxNBOdgB1r5KwWrKdmOXXKk2PqJjaNxogcW7i_4T8RZUKcpK0qczqzGaLrjnn6tb6qUcvksPQovOnRhsS6E" alt="">
                <br>
                <a href="http://sanjaenews.co.kr/">http://sanjaenews.co.kr/</a>
            </li>
        </ul>

    <h1 style="margin-top: 80px;">안전 자료실</h1>
        
        <ul class="a3">
            <li>산업안전포털<br>
                <img src="https://blog.kakaocdn.net/dna/ci5bCK/btsMeAnBeQJ/AAAAAAAAAAAAAAAAAAAAAIiYYNFpHfKRJiLsqEbjlopHAgOhnOuDJSxOsixIPKjz/img.jpg?credential=yqXZFxpELC7KVnFOS48ylbz2pIh7yKj8&expires=1767193199&allow_ip=&allow_referer=&signature=3fMRlQCKvy5Zx3SwL29xdIcg2ew%3D" alt="">
                <br>
                <a href="https://portal.kosha.or.kr/">
                    https://portal.kosha.or.kr/
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}