{% extends "base.html" %}
{% load static %}

{% block title %}산재콕 | 메인{% endblock %}

{% block contents %}
    
    <main>
        <img src="{% static 'img/hero.png' %}" alt="" class="pc">
        <img src="{% static 'img/mobile_hero.png' %}" alt="" class="mobile">
    </main>

<h2>산재 뉴스</h2>
    <article class="news">
        {% for news in list %}
            <div class="news-item">
                <a href="{{ news.n_link }}" target="_blank">
                    <img src="{{ news.n_image_url }}" alt="뉴스 이미지" class="news-img">
                </a>
                <p class="news_title"><a href="{{ news.n_link }}" target="_blank">{{ news.n_title }}</a></p>
                <p>{{ news.n_writer }}</p>
            </div>
        {% endfor %}
    </article>
    <p style="text-align: right;"><a href="#">더보기</a></p>
{% endblock %}